

/* REGOLE GENERALI */

body, html{
    margin:0;
    padding:0;
    max-width: 100%;
    overflow-x: hidden;
}


.bk-color{
  background: #1abc9c!important;
  color: white;
}

.second-bk{
  background: #2c3e50!important
}

.second-color{
  color: #2c3e50!important
}

a:hover{
  text-decoration: none!important;
}


.title > h2 , .title > h3 , .title > h4{
  font-size: 6rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.mt-1{
  margin-top: 30px;
}


/* REGOLE MENU */

.navbar{
  margin-bottom: 0;
  padding: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 16px;
}
.navbar-brand{
  font-size: 3rem;
}
.navbar-inverse .navbar-brand  {
  color: white!important;
}
.nav li>a {
  color: white!important;
}
.nav li>a:hover{
  color: #1abc9c!important;
}

/* REGOLE HEADER */
header{
  min-height: 70vh;
  max-height: 75vh;
  padding: 100px 0;
}

header img{
  width: 250px;
  margin:0 auto;
}

header h1{
  font-size: 7rem;
  font-weight: 900;
}


/*  SEPARATORE CON STELLA */

.divider{
  width: 50%;
  margin: 0 auto;
}
.divider *{
  display: inline-block;
  float: none;
  margin: 0 auto;
}

.divider::after{
  display: table;
  content: '';
  clear: both;
}

.stella{
  font-size: 4rem;
  margin:20px;
}

.linea{
  height: 4px;
  width: 70px;
  background: white;
  margin-bottom: 16px;
}


/*  PORFOLIO */

.portfolio{
  margin-top: 70px;
  margin-bottom: 70px;
}

.images{
  padding: 0 15px;
}

.images img{
  margin-top: 40px;
  border-radius: 10px;
  transition: .3s
}

.images img:hover{
  opacity: .6
}

/*  ABOUT */
.about{
  padding: 70px 0;
}

.about p {
  font-size: 17px;
  margin: 40px 0;
}

.about .btn-default{
  margin-top: 40px;
  background-color: transparent!important;
  border: solid 1px white;
  width: 250px;
  height: 60px;
}

.about .btn-default a{
  color: white;
  font-size: 2.5rem;
  text-transform: capitalize;
}

/*  FORM */

.contact {
  padding: 100px 0;
}

.contact form{
  width: 60%;
  margin: 0 auto;
}

.contact form .form-control{
  border-bottom: solid 1px rgb(181, 181, 181);
}

.contact form .send{
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 2.5rem;
  border:none;

}




@media(max-width:767px){
  header{
    min-height: 50px;
  }
  header h1{
    font-size: 4rem;
  }
  .images{
    padding:0 50px;
  }
  .linea{
    width: 40px;
  }
  .about p {
    padding: 0 40px;
    margin: 10px 0;
    font-size: 2rem;
  }
}
@media(min-width:768px){
  header{
    min-height: 60px;
  }
}
@media(min-width:992px){}
@media(min-width:1200px){}
