

/* REGOLE GENERALI */

body, html{
    margin:0;
    padding:0;
    max-width: 100%;
    overflow-x: hidden;
}

.bk-color{
  background: #1abc9c!important;
  color: white;
}

.text-color{
  color: #1abc9c!important;
}
.second-bk{
  background: #2c3e50!important
}

.second-color{
  color: #2c3e50!important
}

a:hover{
  text-decoration: none!important;
}

.title > h2 , .title > h3 , .title > h4{
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.mt-1{
  margin-top: 30px;
}


/* REGOLE MENU */

.navbar{
  margin-bottom: 0;
  padding: 40px 0;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 16px;
}
.navbar-brand{
  font-size: 3rem;
}
.navbar-inverse .navbar-brand  {
  color: white!important;
}
.nav li>a {
  color: white!important;
}
.nav li>a:hover{
  color: #1abc9c!important;
}

/* REGOLE HEADER */
header{
  min-height: 70vh;
  max-height: 75vh;
  padding: 100px 0;
}

header img{
  width: 250px;
  margin:0 auto;
}

header h1{
  font-size: 7rem;
  font-weight: 900;
}


/*  SEPARATORE CON STELLA */

.divider{
  width: 50%;
  margin: 0 auto;
}
.divider *{
  display: inline-block;
  float: none;
  margin: 0 auto;
}

.divider::after{
  display: table;
  content: '';
  clear: both;
}

.stella{
  font-size: 4rem;
  margin: 5px 20px;
}

.linea{
  height: 4px;
  width: 90px;
  background: white;
  margin-bottom: 16px;
}


/*  PORFOLIO */

.portfolio{
  margin-top: 70px;
  margin-bottom: 70px;
}

.images > div.col-lg-4{
  margin-bottom: 30px;
}

.images img{
  border-radius: 10px;
}

/* overlay */
.box {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s;
  border-radius: 10px;
}

.box:hover .overlay {
  opacity: .6;
}





/*  ABOUT */
.about{
  padding: 70px 0;
}

.about p {
  font-size: 17px;
  margin: 40px 0;
}

.about .btn-default{
  margin-top: 40px;
  background-color: transparent;
  border: solid 1px white;
  width: 250px;
  height: 60px;
}

.about .btn-default a{
  color: white;
  font-size: 2.5rem;
  text-transform: capitalize;
}
.download span{
  font-size: 2rem;
  margin-right: 5px;
}

.about .btn-default:hover{
  background: white;
}
.about .btn-default:hover a , .about .btn-default:hover i{
  color: #1abc9c
}



/*  FORM */

.contact {
  padding: 100px 0;
}

.contact form{
  width: 60%;
  margin: 0 auto;
}

.contact form .form-control{
  border-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid rgb(214, 214, 214);
  margin-top: 20px;
  padding: 30px 0;
}

 ::placeholder{
  font-size: 2rem;
}

.contact form .send{
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 2.5rem;
  border:none;
}
.contact form .send:hover{
  color: white;
  background: #169e83!important;
}

/* FOOTER */
footer .container{
  color:white;
  padding:50px 0;
}

footer .second-bk .row.text-center div{
  margin-bottom: 20px;;
}

footer p{
  font-size: 16px;
}

.footer-title{
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 3rem;
}

.foot{
  height: 60px;
  background: #1a252f;
  position: relative;
}


.foot a{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  color: white
}

footer .icons a{
  font-size: 2.7rem;
  color: white;
  width: 60px;
  height: 60px;
  display: inline-block;
  border: solid 2px white;
  border-radius: 50%;
  margin: 10px;
  position: relative;
}
footer .icons i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

footer .icons a:hover{
  border: solid 2px white;
  background: white;
  color: #2c3e50!important

}



/* responsive */

@media(max-width:767px){
  header{
    min-height: 50px;
    max-height: none;
  }
  header h1{
    font-size: 4.5rem;}

  header h3{
    font-size: 1.9rem;
  }
  .navbar-header{
    padding: 0px 30px;

  }
  .navbar-brand{
    font-size: 2.3rem;
    line-height: 3rem;
  }
  .images{
    padding:0 50px;
  }
  .linea{
    width: 40px;
  }
  .about p {
    padding: 0 40px;
    margin: 10px 0;
    font-size: 2rem;
  }
  footer .second-bk .row.text-center div{
    margin-bottom: 70px;
    padding: 0 50px;
  }
  footer .icons a{
    font-size: 2rem;
    height: 40px;
    width: 40px;
  }
  .contact form{
    width: 90%;
    margin: 0 auto;
  }
}
@media(min-width:768px){
  header{
    min-height: 60px;
  }
  header h1{
    font-size: 5rem;}
    .about p {
      padding: 0 40px;
      margin: 10px 0;
      font-size: 2rem;
    }
    .contact form{
      width: 90%;
      margin: 0 auto;
    }

}
@media(min-width:992px){}
@media(min-width:1200px){}
